{% extends 'base.html' %}
{% load static %}

{% block title %}Camera - Photo Fun{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'photos/css/camera.css' %}">
{% endblock %}

{% block main %}
    <a id="close" href="{% url 'home' %}">
        <img src="{% static 'photos/img/X.png' %}" alt="Close">
    </a>

    <div id="tablet">
        <div id="front-camera"></div>
        <div class="camera-container">
            <video id="video" autoplay playsinline></video>
            
            <div id="countdown"></div>

            <img id="still-frame" alt="">
        </div>

        <div class="controls">
            <button id="snap"></button>
        </div>
    </div>

    <a id="ideas" href="{% url 'ideas' %}">Ideas</a>

    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>

    <a id="ideas" href="{% url 'ideas' %}">Ideas</a>
{% endblock %}

{% block scripts %}
    <script src="{% static 'photos/js/camera.js' %}"></script>
{% endblock %}