{% extends 'base.html' %}
{% load static %}

{% block title %}Camera - Photo Fun{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'photos/css/camera.css' %}">
{% endblock %}

{% block main %}
    <a id="close" href="{% url 'home' %}">
        <img src="{% static 'photos/img/X.png' %}" alt="Close">
    </a>

    <div id="tablet">
        <div id="front-camera"></div>
        <div class="camera-container">
            <video id="video" autoplay playsinline></video>
            
            <div id="countdown"></div>

            <img id="still-frame" alt="">
        </div>

        <div class="controls">
            <button id="snap"></button>
        </div>
    </div>

    <a id="ideas" href="{% url 'ideas' %}">Ideas</a>

    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>

    <a id="ideas" href="{% url 'ideas' %}">Ideas</a>

    <!-- Затемнення фону -->
    <div id="modal-overlay" class="overlay">
    <div class="modal" role="dialog" aria-modal="true">
        <h3>Choose the number of photos on one sheet?</h3>
        <div class="modal-buttons">
        <button class="numberButton" onclick="closeModal('1')">1 PHOTO</button>
        <button class="numberButton" onclick="closeModal('2')">2 PHOTO</button>
        <button class="numberButton" onclick="closeModal('3')">3 PHOTO</button>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const STATIC_URL = "{% static 'photos/img/audio_camera.mp3' %}";
    </script>
    <script src="{% static 'photos/js/camera.js' %}"></script>
{% endblock %}